@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-regular{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
*{
  margin: 0;
  padding: 0;
}
.overall-width{
  max-width: 1440px;
  margin: 0 auto;
}
header{
  background-color: #FFF4E7;
}
main > section{
  margin-top: 130px;
}
.display-flex{
  display: flex;
}
/* Font Color */
.dark-01{
  color: #131313;
}
.dark-02{
  color: #424242;
}
.dark-03{
  color: #727272;
}
.orange-01{
  color: #FF900E
}
.navbar{
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.nav-title{
  font-size: 2rem;
  font: bold;
  margin: 0;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  margin-right: 30px;
}
.btn-primary{
  background-color: #FF900E;
  font:bold;
  font-size: 1rem;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
}
.banner{
  margin-top: 50px; 
}
.banner-title{
  max-width: 700px;
  font:bold;
  font-weight:700px;
  font-size: 3.5rem;
  margin: auto;
}
.banner-items{
  max-width: 800px;
  text-align: center;
  margin: auto;
}
.banner-content{
  margin: 20px auto;
}
.banner-img{
  width: 100%;
  margin: 30px auto;
}
.feature-title{
  font-size: 2rem;
}
.feature-teams{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px; 
}
.feature-content{
  max-width: 520px;
  margin-left: 25px;
}
.teams{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 10px;
}
.love-enjoy-section{
  display: flex;
}
.love-enjoy{
  border-left: 3px solid #FF900E;
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 2.2rem;
}
.love-enjoy-content{
  padding: 40px;
  max-width: 600px;
}
.feature-card{
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
}
.feature-card-title{
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.badge{
  background-color: #FF900E;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px;
  margin-top: -100px;
  margin-left: -50px;

}
.ten-exp{
  font-size: 2.5rem;
  font:900;
}
.architect-apu{

}